body {
    width:90%;
  background-image: url('bgim.jpeg');
  
}
h1{
    font-size:30px;
}
form {
  /* Center the form on the page */
 
  width: 80%;
  margin:auto;
  /* Form outline */
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: white;
  font-size:20px;
   
}
input {
    margin-left:auto;
    margin-right:auto;
    margin-top:2px;
    margin-bottom:2px;
  border:1px solid #333399;
  font-size:20px;
  text-align: center;
  padding:4px;
}   
table, th, td {
    border: 1px solid black;

    text-align: center;
    vertical-align: middle;
    
    margin-left: auto;
    margin-right:auto;
    font-size: 20px;
            }
p {
    text-align:center;
}

a{
    padding:3px;
    background-color:white;
    font-size:22px;
    border-radius:0.3em;
    text-decoration:none;
}


span{
   
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    
}
header{
    margin:4%;
    background:red;
    border: 1px solid #CCC;
    border-radius: 1em;
    width:90%;
    padding:15px;
}
footer{
    margin:5%;
    background:black;
    width:90%;
    border: 1px solid #CCC;
    border-radius: 1em;
    padding: 10px;
}
select{
    border:2px solid #333399;
    margin:2px;
    padding:4px;
     font-size:15px;
    text-align: center;
    border-radius:.2em;

}
.reset{
    border-radius: 1em;
    background: green;
}